Django==1.4.3
PyYAML==3.10
Whoosh==2.4.1
argh==0.20.0
argparse==1.2.1
django-extensions==1.0.2
-e git+https://github.com/toastdriven/django-haystack.git@0e95d8696f8ba770f9c60152136aba32f5591fd6#egg=django_haystack-dev
gevent==0.13.8
-e git+https://github.com/abourget/gevent-socketio.git@a1e422d2e11f0e6db3ff71bfd691dd1b7f69abe6#egg=gevent_socketio-dev
gevent-websocket==0.3.6
greenlet==0.4.0
gunicorn==0.16.1
ipython==0.13.1
pathtools==0.1.2
python-ptrace==0.6.4
pyzmq==2.2.0.1
watchdog==0.6.0
wsgiref==0.1.2
